*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Roboto Slab', serif;
}
body{
background-image: url(/assets/bg.png);
width: 100%;
height: 100%;
background-attachment: fixed;
background-size:cover;
}

a{
    text-decoration: none;
    color: white;
}
nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: black;
  }
  nav ul {
    display: flex;
    align-items: center;
    gap: 25px;
    font-weight: 600;
  }

  button{
    background-color: rgb(176, 32, 183);
    padding: 8px 35px;
    color: azure;
    border: 1px soild white;
    border-radius: 5px;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
   cursor: pointer;
}
button:hover {
    background-color: rgb(245, 237, 237);
    color: rgb(182, 100, 233);
    border: 1px solid black;
  }
  .hero-section {
    max-width: 1154px;
    margin: 0 auto;
    text-align: center;
    margin-top: 119px;
  }

 h1{
        font-style: normal;
        font-weight: 400;
        font-size: 104px;
        line-height: 114px;
        color: white;
     }
p{
    font-size: 30px;
    padding-top: 5%;
    color: white;
    padding: auto;
}